openapi: 3.0.1
info:
  title: Clear Capital API
  description: >-
    Clear Capital exposes its real-estate valuation and property data capabilities
    through two sales-led REST products: the Property Analytics API (ClearAVM and
    Rental AVM automated valuations, comparables ranked by ClearRank, property
    characteristics, market trends, and sales/listing/owner/tax history) and the
    Property Valuation API (ordering and fulfillment of appraisal and valuation
    products including Hybrid Appraisal, Desktop Appraisal, Broker Price Opinion,
    Collateral Desktop Analysis, and Universal Data Collection).


    Access requires a commercial agreement with Clear Capital. The full API
    reference - including exact endpoint paths, request/response schemas, and the
    authentication flow - is published behind Clear Capital's gated developer
    portal at https://docs.api.clearcapital.com/introduction and is rendered by a
    client-side documentation application that is not machine-readable to anonymous
    crawlers. As a result, the `paths` object below is intentionally left empty:
    no endpoint paths or schemas are reproduced here because none could be
    verified from public, unauthenticated sources without fabrication. Clear
    Capital documents the use of encrypted data transmission and system-to-system
    authentication and authorization; the `securitySchemes` below records the
    bearer-token style commonly used for that pattern, modeled at the API level
    rather than asserted per operation.
  termsOfService: https://www.clearcapital.com/terms-of-use/
  contact:
    name: Clear Capital
    url: https://www.clearcapital.com/contact/
  version: '1.0'
servers:
  - url: https://api.clearcapital.com
    description: Clear Capital API (production base host; access gated by commercial agreement)
tags:
  - name: ClearAVM / Valuation
    description: Lending-grade ClearAVM and Rental AVM automated valuation models.
  - name: Property Data
    description: Property characteristics, market trends, and sales/listing/owner/tax history.
  - name: Comparables
    description: Comparable sales and rentals ranked by ClearRank.
  - name: Appraisal & Orders
    description: Ordering and fulfillment of Hybrid/Desktop appraisal, BPO, CDA, and UDC products.
paths: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        System-to-system authentication over encrypted transport, as described in
        Clear Capital's product documentation. Exact token issuance and header
        details are documented in the gated developer portal and are not reproduced
        here.
security:
  - bearerAuth: []
